<!DOCTYPE html>
<html>
  <head>
    <title>Realink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body class='indigo lighten-5'>
  <nav class="nav-extended green accent-4">
    <div class="nav-wrapper">
      <!-- <a href="#" class="brand-logo">Logo</a> -->
      <%= image_tag("logo.png", class: 'app-logo') %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li> -->
        <li><% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path)  %>
        <% end %><li>

        <li><%= link_to('News Settings', news_settings_path) %></li>


      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>

    <div class="nav-content">
      <!-- <ul class="tabs tabs-transparent"><li class="tab"><a href="#All">All</a></li> -->
      <ul class="tabs tabs-transparent"><li class="tab">News Filters:</a></li>
        <li class="tab"><a href="#All">All</a></li>
        <li class="tab"><a href="#World">World</a></li>
        <li class="tab"><a href="#US">US</a></li>
        <li class="tab"><a href="#Sports">Sports</a></li>
        <li class="tab"><a href="#Entertainment">Entertainment</a></li>
        <li class="tab"><a href="#Politics">Politics</a></li>
        <li class="tab"><a href="#Science">Science</a></li>
        <li class="tab"><a href="#Weather">Weather</a></li>

        <li class="tab"><a href="#test1">Test 1</a></li>
        <li class="tab"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab"><a href="#test4">Test 4</a></li>
      </ul>
    </div>

  </nav>
  <div id="test1" class="col s12">Test 1</div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
  <div id="test4" class="col s12">Test 4</div>




    <!--
    <% if user_signed_in? %>
      <h1>Welcome back <%= current_user.email %></h1>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <h1>See ya, hope to see you soon.</h1>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %>
    -->

   <!--  <nav>
      <div class="nav-wrapper indigo darken-1">
        <a href="#!" class="brand-logo center">Realink</a>
        <ul class="left">
          <li><a href="sass.html">Home</a></li>
          <li><a href="sass.html">Settings</a></li>
        </ul>
      </div>
    </nav> -->

    <div class='container'>
      <%= yield %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>
</html>
