<!DOCTYPE html>
<html>
  <head>
    <title>Realink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body class='indigo lighten-5'>
    <nav class="nav-extended indigo darken-4">
      <div class="nav-wrapper">
        <%= link_to root_path, class: 'brand-logo' do %>
          <span class="app-logo">Realink</span>
        <% end %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a id="filters_toggler" href="#filters_nav">Filters</a></li>
          <li><%= link_to('News Settings', news_settings_path) %></li>
          <% if user_signed_in? %>
            <li><%= link_to("Hello @#{current_user.name}", "javascript:void(0)") %></li>
            <li><%= link_to("Log out", logout_path, method: :delete) %></li>
          <% else %>
            <li><%= link_to('Sign in', new_session_path) %></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>

      <div id="filters_nav" style="display: none;" class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="#All">All</a></li>
          <li class="tab"><a href="#World">World</a></li>
          <li class="tab"><a href="#US">US</a></li>
          <li class="tab"><a href="#Sports">Sports</a></li>
          <li class="tab"><a href="#Entertainment">Entertainment</a></li>
          <li class="tab"><a href="#Politics">Politics</a></li>
          <li class="tab"><a href="#Science">Science</a></li>
          <li class="tab"><a href="#Weather">Weather</a></li>
        </ul>
      </div>
    </nav>

    <div class='container'>
      <%= yield %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      jQuery("#filters_toggler").on('click', function(e) {
        e.preventDefault();
        $this = jQuery(this);
        jQuery($this.attr('href')).toggle();
      });
    </script>
  </body>
</html>
